@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
  
*, *::before, *::after {
    box-sizing: border-box;
}

  
body {
    height: 100vh; /* Full viewport height */
    background-image: url("./assest/bg-guess-the-word.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 0px 15px 0px 15px;
}

.container{
    height: fit-content;
    padding: 24px 26px 32px 26px;
    margin-top: 180px;
    background: linear-gradient(to bottom right, #030616, #19213a);   
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    padding: 0px 96px 24px 96px;
}

.heading img{
    width: 160px;
    height: 20px;
}

#word{
    padding: 12px 96px 12px 96px;
    background-color: #4A5567;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 0px rgba(3, 6, 22, 1);
}

#word span{
    font-size: 32px;
    font-weight: 500;
    color: #97A3B6;
} 

.terms{
    width: 100%;
    max-width: 450px;
    padding: 24px 60px 0px 60px;
    font-size: 13px;
    font-weight: 400;
    color: #4A5567;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 50px;
}

.tries, #mistake{
    display: flex;
    align-items: center;
    gap: 6px;
}

#dot-1, #dot-2, #dot-3, #dot-4, #dot-5 {
    width: 5.5px;
    height: 6px;
    background-color: #4A5567;
    border-radius: 50%;
}

.mistake{
    display: flex;
    align-items: center;
    gap: 3px;
}

.wrong{
    color: #97A3B6;
}

#input{
    padding: 52px 0px 52px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 4px;
}

#input input{
    width: 100%;
    max-width: 45px;
    height: 45px;
    font-size: 20px;
    color: #F2F5F9;
    background-color: transparent;
    font-weight: 300;
    text-align: center;
    padding: 6px 12px 6px 12px;
    border-radius: 8px;
    border: 2.6px solid #4A5567;
    cursor: pointer;
}

input::placeholder{
    font-size: 20px;
    color: #F2F5F9;
}


.button{
    display: flex;
    gap: 40px;
}

button{
    background-color: #C951E7;
    font-size: 14px;
    font-weight: 500;
    color: #F2F5F9;
    padding: 10px 35px 10px 35px;
    border-radius: 8px;
    box-shadow: 0 4px 0px rgba(103, 33, 113, 1);
    cursor: pointer;
}

button:hover {
    filter: brightness(110%);
    transform: translateY(-1px);
    border-bottom-width: 6px; /* hover:border-b-[6px] */
}

.custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

#win-alert{
    background-color: #4caf50;
}

#lose-alert {
    background-color: #cb0404;
}

@media screen and (max-width: 560px) {

    .container{
        width: 100%;
        padding: 24px 15px 32px 15px;
    }    

    #word{
        width: 100%;
        padding: 12px auto 12px auto;
        gap: 10px;
    }

    .terms{
        padding: 24px 30px 0px 30px;
        gap: 25px;
    }

    #input{
        padding: 45px 0px 45px 0px;
    }

    #input input{
        width: 100%;
        max-width: 40px;
        height: 40px;
        padding: 6px 10px 6px 10px;
    }
}